$header-background-color: #2c405b;
$text-color: white;
$nav-tab-font-size: 30px;
$username-header-fontsize: 28px;
$username-subtext-fontsize: 16px;
$nav-tab-font-family: sans-serif;
$nav-tab-hover: #3184ba;

.mobile-drawer-container {
    position: absolute;
    background: #2a2727;
    background-color: rgba(42,39,39,0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    .sidesheet {
        width: 62%;
        background: $header-background-color;
        height: 100%;
        .sidesheet-content-wrapper {
        }
        .sidesheet-content {
        }
        &.show{
            transform: translateX(0);
            transition: 0.7s all;
        }
        &.hide{
            transform: translateX(-100%);
            transition: 0.7s all;
        }
    }
}
