$navbar-basecolor: rgb(28, 41, 59);

.navbar-container {
    top: 5vw;
    position: absolute;
    height: calc(100% - 5vw);
    width: 5vw;
    background: $navbar-basecolor;
    left: 0;
    .nav-options {
        .nav-module-icon {
            img{
                max-width: 1.5rem;
            }
        }
        .nav-module-label{
            color: white;
        }
    }
}
